@import 'bootstrap/dist/css/bootstrap.min.css';
/* Centraliza o formulário e define o fundo da página */
.container {
  display: flex;
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;      /* Centraliza verticalmente */
  height: 100vh;            /* Ocupa toda a altura da tela */
  background: linear-gradient(to bottom, #ff4d4d, #ff0a0a); /* Gradiente suave de vermelho */
}

/* Estilo do formulário */
.form {
  background: rgb(238, 5, 5); /* Vermelho escuro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

/* Estilo para inputs, selects e botões */
input, select, button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

/* Estilo para mensagens de erro */
.error {
  color: red;
  font-size: 14px;
}

/* Estilo do botão */
button {
  background-color: red;  /* Cor de fundo vermelha */
  color: rgb(255, 255, 255);
  border: 2px solid red;   /* Borda vermelha */
  cursor: pointer;
  border-radius: 4px;      /* Bordas arredondadas */
  font-weight: bold;       /* Texto em negrito */
  transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

button:hover {
  background-color: darkred;  /* Cor de fundo ao passar o mouse */
  border-color: darkred;      /* Borda escurecida ao passar o mouse */
}
