/* colors */
:root{
    --primary-color: #FF3131;
    --secundary-color: #FFF;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --icon-color: #F3F3F3;
}

/* form-conteiner */
.form-container{
    height: 100%;
    width: 100%;
    display: flex;
}

/* login-conteiner */
.login-container{
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 5px 20px #A0A0A0;
    overflow: hidden;
}

@media (max-width:768px){
    .login-container{
        width: 75vw;
        height: 75vh;
    }
}

@media (max-width:480px){
    .login-container{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}

/* main */
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile-text */
.mobile-text{
    display: none;
}

@media (max-width:768px){
    .mobile-text{
        display: block;
    }
    .mobile-text a {
        font-weight: 900;
        color: inherit;
    }
}

/* form */
.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundary-color);
    padding: 55px 0;
    transition: 1s;
}

.form-register{
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.login-container.move .form-login{
    transform: translateX(100%);
}

.login-container.move .form-register{
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;
}

@media (max-width:768px){
    .form{
        width: 100%;
        justify-content: space-evenly;
    }
    .form-register{
        position: absolute;
        background-color: var(--primary-color);
        color: var(--secundary-color);
        transform: translateX(100%);
    }
    .login-container.move .form-register{
        transform: translateX(0%);
    }

}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-color-dark);
}